.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.final-score-card {
  border: 1px solid black;
  margin: 30px;
  padding: 30px;
  border-radius: 7px;
  align-self: center;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
